# Ignore sensitive config and runtime data
.env
config/**/config.json
config/**/buildarr.yml
config/**/arrem-sync.log
*.log
*.db
*secret*
lost+found/
config/emby/*
!config/emby/config/
config/prowlarr/*
!config/prowlarr/config.xml
config/qbittorrent/*
!config/qbittorrent/qBittorrent/qBittorrent.conf
config/radarr/*
!config/radarr/config.xml
config/sonarr/*
!config/sonarr/config.xml
config/tdarr/*
!config/tdarr/configs/
data/*